# Dependencies
**/node_modules/
**/package-lock.json
**/yarn.lock

# Environment variables
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Build directories
**/dist/
**/build/
**/.next/
**/.nuxt/
**/out/

# Testing
**/coverage/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - JetBrains
.idea/
*.iml

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# TypeScript
**/*.tsbuildinfo